* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

#header {
  margin: auto;
}

nav {
  margin: 20px 90px 0px 0px;
  background-color: #F1BF00;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #AA151B;
  border-radius: 3px;
}

a:hover {
  color: white;
}

h1 {
  font-size: 75px;
  color: #F1BF00;
}

h1 span {
  background-color: #F1BF00;
  color: #AA151B;
}

.details {
  max-width: 20%;
  margin: 10px auto;
  display: flex;
}

.details div {
  height: 10px;
  width: 30px;
  margin: 0px 5px;
}

.d1 {
  background-color: #AA151B;
  border-radius: 5px;
}

.d2 {
  background-color: #F1BF00;
  border-radius: 5px;
  flex-grow: 1;
}

.d3 {
  background-color: #AA151B;
  border-radius: 5px;
  flex-grow: 2;
}

#presentation {
  max-width: 95%;
  margin: auto;
}

ul {
  display: flex;
  justify-content: space-around;
}

#presentation li {
  width: 28%;
  text-align: center;
  background-color: #f6d75b;
  color: #AA151B;
  border-radius: 20px;
  padding: 30px;
  font-size: 20px;
  font-weight: 200;
  list-style: none;
}

#presentation li:nth-child(2) {
  align-self: flex-end;
}

#presentation li:nth-child(3) {
  align-self: flex-end;
}

#images {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

#images div img {
  height: 260px;
  object-fit: cover;
}

#img-1, #img-3 {
  border: 5px solid #AA151B;
  border-radius: 20px;
}

#img-2 {
  border: 5px solid #F1BF00;
  border-radius: 20px;
}

footer {
  text-align: center;
  margin: 20px 0px 60px;
  color: #AA151B;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }

  h1 {
    font-size: 35px;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* align-items: center; */
  }

  nav {
    margin: 5px 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    /* max-width: 100%; */
    flex-direction: column;
    justify-content: space-around;
  }

  #presentation {
    max-width: 85%;
  }

  #presentation li {
    width: 80%;
    margin: 5px;
    padding: 15px;
    font-size: 15px;
  }

  #presentation li:nth-child(1) {
    align-self: center;
  }

  #presentation li:nth-child(2) {
    align-self: center;
  }
  
  #presentation li:nth-child(3) {
    align-self: center;
  }

  #images {
    flex-direction: column;
  }
  
  #images div {
    margin: 10px;
  }

  #images div img {
    width: 260px;
  }

  footer {
    max-width: 80%;
    margin: 50px auto;
  }
}